app = "edgecoder-docs"
primary_region = "ord"

[build]
  dockerfile = "../../Dockerfile.docs"

[env]
  NODE_ENV = "production"

[http_service]
  internal_port = 4173
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
